html {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit';
    font-size: 15px;
}

body {
    margin: 0 auto;
    margin-top: 5rem;
    vertical-align: center;
    width: 22.5rem;
    background-color: white;
    padding-top: 1.1rem;
    padding-bottom: 2rem;
    border-radius: 1.2rem;
}

img {
    height: 20rem;
    width: 20rem;
    border-radius: 0.6rem;
}

p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hook {
    font-weight: 700;
    font-size: 1.5rem;
}

.explanation {
    color: hsl(220, 15%, 55%);
}